.button_header,
.button_content											{display:inline-block; overflow:hidden; line-height:0em;}
/* ************************************************************************************* */
.button_header											{margin-left:6px;}

.button_header .button,
.button_header .button:hover,
.button_header .button.act,
.button_header .button:hover div,
.button_header .button div								{display:inline-block; cursor:pointer; overflow:hidden;}

.button_header .button,
.button_header .button:hover,
.button_header .button.act
.button_header .button,
.button_header .button:hover,
.button_header .button.act								{padding:0; overflow:hidden; font-size:1em;text-transform:uppercase;}
/* ************************************************************************************* */

/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t					{background:url('../images/bg_button4_header_rep.png') repeat-x transparent;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button.act:hover .button-t				{background-position:0 0;}

.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t					{background-position:0 100%;}
/* ************************************************************************************* */
.button_header4 .bg_button .button-t,
.button_header4 .bg_button:hover .button-t,
.button_header4 .bg_button.act .button-t				{margin: 0px 0px 0px 0px; height:24px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text,
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text						{font-weight:bold;text-decoration:none; white-space:nowrap;text-transform:none;}											 
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text					{color:#a1a0a0;}

.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text						{color:#fff;font-size:1.1em; line-height:1em;padding: 5px 8px 7px 8px; display:inline-block;}
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content  button										{height:22px; font-size:100%;font-family:Arial, Helvetica, sans-serif;}	
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .button,
.button_content .button.act,
.button_content .button div								{display:inline-block; cursor:pointer; overflow:hidden;}

.button_content .button,
.button_content .button.act								{padding:0; overflow:hidden; }
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button .button-t,
.button_content22 .bg_button:hover .button-t,
.button_content22 .bg_button.act .button-t					{}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button .button-t						{}
.button_content22 .bg_button.act:hover .button-t			{}

.button_content22 .bg_button:hover .button-t				{}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button .button-t,
.button_content2 .bg_button:hover .button-t,
.button_content2 .bg_button.act .button-t					{}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button .button-t						{}
.button_content2 .bg_button.act:hover .button-t				{}

.button_content2 .bg_button:hover .button-t					{}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .bg_button .button-t,
.button_content .bg_button:hover .button-t,
.button_content .bg_button.act .button-t				{margin: 0px 0px 0px 0px; height:22px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .bg_button  a span.ui-button-text,
.button_content .bg_button  span.ui-button-text,
.button_content .bg_button:hover a span.ui-button-text,
.button_content .bg_button.act a span.ui-button-text,
.button_content .bg_button:hover span.ui-button-text,
.button_content .bg_button.act span.ui-button-text						{font-size:1em; line-height:1em;font-weight:normal;white-space:nowrap;text-decoration:none; display:inline-block; text-transform:lowercase;} 											 
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button  a span.ui-button-text,
.button_content2 .bg_button  span.ui-button-text						{color:#000;text-decoration:underline;}

.button_content2 .bg_button:hover a span.ui-button-text,
.button_content2 .bg_button.act a span.ui-button-text,
.button_content2 .bg_button:hover span.ui-button-text,
.button_content2 .bg_button.act span.ui-button-text						{color:#B98409;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button  a span.ui-button-text,
.button_content22 .bg_button  span.ui-button-text						{color:#000;text-decoration:underline;}

.button_content22 .bg_button:hover a span.ui-button-text,
.button_content22 .bg_button.act a span.ui-button-text,
.button_content22 .bg_button:hover span.ui-button-text,
.button_content22 .bg_button.act span.ui-button-text					{color:#000;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 2px 20px 3px 10px; }
.prod_info_next .button_next .ui-button-text-icon-primary .ui-button-text, 
.prod_info_next .button_next .ui-button-text-icons .ui-button-text 				{ padding: 2px 10px 3px 20px; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 2px 10px 3px 20px; }



.button__padd .ui-button-text-icon-primary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text { padding: 2px 20px 3px 10px; }
.button__padd .ui-button-text-icon-secondary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text {padding: 2px 20px 3px 10px; }

.extra_name span.ui-button-icon-primary		{display:none;} /**/

.button_content .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_000000_256x240.png');}
.button_content:hover .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_000000_256x240.png');}
.button_content .ui-state-hover .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_000000_256x240.png');}

/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content3 .bg_button  a span.ui-button-text,
.button_content3 .bg_button  span.ui-button-text						{color:#070707;text-decoration:underline; text-transform:uppercase; font-weight:normal;}

.button_content3 .bg_button:hover a span.ui-button-text,
.button_content3 .bg_button.act a span.ui-button-text,
.button_content3 .bg_button:hover span.ui-button-text,
.button_content3 .bg_button.act span.ui-button-text						{color:#070707;text-decoration:none;text-transform:uppercase;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */

