#back-top a,
#back-top span,
.bg_button .button-t span,
.bg_button.act:hover .button-t span,
.bg_button:hover .button-t span,

.bg_button .button-t,
.bg_button.act:hover .button-t,
.bg_button:hover .button-t,

.hover:hover .wrapper_pic_t,
.hover:hover .wrapper_pic_r,
.hover:hover .wrapper_pic_b,
.hover:hover .wrapper_pic_l					{
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.infoBoxWrapper.box2,
.cart_products_options	{
  	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
 	-webkit-border-radius: 5px 5px 5px 5px;
	position:relative;
}
.contentPadd.txtPage,
.ui-dialog,
.ui-dialog-titlebar,
.cart,
.ui-progressbar,
.ui-datepicker	{
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
 	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px;
	position:relative;
}
.cart_products_options,
.row_7 CHECKBOX, .row_7 INPUT, .row_7 RADIO, .row_7 select, .row_7 textarea,
.fieldValue  input, .go, .input	{
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
 	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px;
	position:relative;
}
.custom_select ul,
.contentInfoText	{
	 -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
	 position:relative;
}
.contentPadd h3,
.cart th.th1	{
	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
	position:relative;
}
.contentPadd h3,
.cart th.th3	{
	-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
	position:relative;
}
/* ************************************************************************************* */
::selection {
background:#858585;
color:#fff;
}
::-moz-selection {
background:#858585; 
color:#fff;
}
/* ************************************************************************************* */
