.button_header,
.button_content		{display:inline;}

#piGal ul 					{margin-left:0px;}

.input_radio input			{margin: 0px 0px 0px 0px;}
.radio_set					{margin: 1px 0px 0px 0px;display:inline-block;}
