.wrapper				{border:0px solid #dddddd;margin: 0px auto 2px auto; text-align:center; overflow:hidden;}
.carousel-box  		    {position: relative; overflow:hidden; height:347px;background:url('../images/carousel-box.gif') 0px 100% repeat-x #fbfaff; margin-top:50px;}

.carousel-box .carousel {padding-top:0px;overflow:hidden;}
.carousel-box a.model,
.carousel-box a.name,
.carousel-box .desc		{color:#000; font-family:"Times New Roman", Times, serif;}

.carousel-box a.name	{padding: 0px 14px 0px 14px; display:block;}
.carousel-box a.model span	{text-transform:uppercase;}
.carousel-box a.model	{padding: 14px 14px 0px 14px; display:block;}
.carousel-box a.pic		{display:inline-block;line-height:0; padding-top:0px; margin:auto; text-align:center;}

.carousel-box .desc		{padding: 4px 14px 0px 14px; display:inline-block; font-weight:normal; line-height:1em;}

.carousel-box a.prev		{left:50%; margin-left:-476px;}
.carousel-box a.next		{right:50%; margin-right:-476px;}
.carousel-box a.prev,						
.carousel-box a.next	{width:30px; height:48px; display:inline-block;background:url('../images/next_prev.png') 0px 0px no-repeat transparent; position:absolute; bottom:26px; z-index:999;}

.carousel-box a.prev		{ background-position:100% 0;}
.carousel-box a.next		{ background-position:0 0;}
.carousel-box a.prev:hover	{ background-position:100% 100%;}
.carousel-box a.next:hover	{ background-position:0 100%;}


ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
}
ul.thumb li {
	margin:0; padding: 0px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	height:347px !important;
	display:inline-block;
	max-width:278px;
}
ul.thumb li img {
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 0px solid #ddd;
	padding: 0px;
	position: absolute;
	left: 50%; top: 15%;
	margin-left:-114px;
}
ul.thumb li img.hover {
	background:url(thumb_bg.png) no-repeat center center;  /* Image used as background on hover effect
	border: none; /* Get rid of border on hover */
}
.extra_name {
    bottom: 0px;
    left: 14px;
    margin: 0 !important;
	padding:0; padding-bottom:10px;
    position: absolute;
    width: 253px !important;
    z-index: 10;
}
